* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/lspubg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

hr {
    margin: 5px;
}

.titleHeader {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2%;
    background-color: aliceblue;
    display: flex;
    pointer-events: none;
    /*background-image: linear-gradient(ghostwhite, ghostwhite, ghostwhite, rgba(0, 0, 0, 0));*/
}

.lspuTop {
    margin-left: 2%;
    height: 100%;
    width: 50%;
}

.text {
    margin-top: 4%;
    margin-bottom: 4%;
    height: 100%;
    font-size: 1.5vw;
    margin-left: 18%;
    color: midnightblue;
    animation: lspuAnim 1s;
}

@keyframes lspuAnim {
    from {opacity: 0; margin-left: 6%;}
    to {opacity: 1; margin-left: 18%;}
}

.lspuImg {
    float: left;
    height: 6vw;
    animation: logoAnim 1s;
}

@keyframes logoAnim {
    from {opacity: 0; margin-left: -8%;}
    to {opacity: 1; margin-left: 0%;}
}

.titleHeader img {
    height: 6vw;
    width: 6vw;
}


ul {
    margin: 0;
    padding: 0;
}

.tags {
    width: 50%;
    float: right;
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
}

.tags ul {
    list-style-type: none;
}

.tags li {
    float: right;
    margin-left: 50px;
}

.tags button {
    text-align: center;
}

.navBtn {
    font-weight: bolder;
    padding: 20px;
    border: none;
    background-color: aliceblue;
    pointer-events: visible;
    transition: 0.2s;
}

.navBtn:hover {
    transition: 0.2s;
    cursor: pointer;
    border-bottom: 4px solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

#homeBtn {
    border-bottom: 4px solid;
    pointer-events: none;
}

.frontText {
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    min-height: 600px;
}

#front1 {
    margin-top: 4%;
    font-size: xx-large;
    font-weight: bolder;
    animation: front1Anim 1s;
}

@keyframes front1Anim {
    from {opacity: 0; margin-top: -8%;}
    to {opacity: 1; margin-top: 4%;}
}

#front2 {
    font-size: large;
    font-weight: normal;
    width: 60%;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    animation: front2Anim 1s forwards .5s;
}

@keyframes front2Anim {
    from {opacity: 0; margin-top: 0%;}
    to {opacity: 1; margin-top: 4%;}
}

.strandLinks {
    margin-top: 2%;
    font-size: large;
    padding: 15px;
    color: white;
    background-color: rgb(48, 48, 48);
    border: none;
}

.strandLinks:hover {
    cursor: pointer;
    background-color: rgb(65, 65, 65);
}

.strands {
    font-size: large;
    text-align: center;
    background-image: linear-gradient(rgb(0, 0, 107),rgb(0, 0, 71));
    padding: 2%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: white;
}

.strandText {
    margin: 2%;
}

.strandText hr {
    margin: 2%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid orange;
}

.tracks {
    display: flex;
}

.strandInfo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    padding: 4%;
    width: 60%;
    min-height: 70%;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    text-align: left;
}

.humss .strandInfo {
    border: 3px solid lime;
    border-left: none;
    border-right: none;
    border-radius: 12px;
    background-color: navy;
}

.abm .strandInfo {
    border: 3px solid brown;
    border-left: none;
    border-right: none;
    border-radius: 12px;
    background-color: navy;
}

.tvl .strandInfo {
    border: 3px solid rgb(0, 110, 255);
    border-left: none;
    border-right: none;
    border-radius: 12px;
    background-color: navy;
}

.humss {
    font-size: 1vw;
    margin-top: 2%;
    width: 33%;
    display: inline-block;
}

.abm {
    font-size: 1vw;
    margin-top: 2%;
    width: 33%;
    display: inline-block;
}

.tvl {
    font-size: 1vw;
    margin-top: 2%;
    width: 33%;
    display: inline-block;
}

.strandLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    transition: 0.3s;
}

.strandLogo:hover {
    transform: scale(120%);
    transition: 0.3s;
    cursor: pointer;
}

.end {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(56, 56, 56);
    text-align: center;
    color: gray;
}
